.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.activeColor {}

.thumbnail img {
    height: 30vh;
    object-fit: contain;
}

.table-responsive td>img {
    width: 40px;
}

.table-responsive thead tr th,
.table-responsive tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.fa-minus:before {
    content: "\f068";
    padding: 5px;
    background: #d0d0ca;
    border-radius: 5px;
}

.fa-plus:before {
    content: "\f067";
    padding: 5px;
    background: #d0d0ca;
    border-radius: 5px;
}

.table-responsive tbody tr td i {
    font-size: 20px;
}